<p id="notice"><%= notice %></p>

<h1>Listing Clubs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Players</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name,club %></td>
        <td><%= club.city %></td>
        <td><%=club.players.count%></td>
        <% if current_player and club.player_id == current_player.id %>
        <td><%= link_to 'Edit', edit_club_path(club), class:'btn btn-primary' %></td>
            <% if club.players.size == 1 %>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-danger'%></td>
             <% end %>
            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_player and current_player.clubowner and current_player.club.nil? %>
<%= link_to 'New Club', new_club_path, class:'btn btn-primary' %>
<% end %>