<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @club.city %>
</p>


<h1>Listing players of <%=@club.name%></h1>

<p>
  Total of players: <%= @club.players.size %>
</p>

<p>
  Clubowner: <%=link_to @club.clubowner, @club.clubowner %>
</p>
<%= render 'list', players: @club.players %>


<% if current_player and current_player == @club.clubowner %>
    <%= link_to 'Edit Club', edit_club_path(@club), class: "btn btn-primary" %>
     <%if  @club.players.size == 1 %>
        <td><%= link_to 'Destroy', @club, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>

<% end %>

<bd></bd>
<% if @club.players.include?(current_player) and !current_player.clubowner %>
    <%= form_for(@membership, :method => :delete) do |f| %>
        <%= f.submit value: "Leave this club" %>
    <% end %>
    <% end %>
<%= link_to 'Back', clubs_path, class: "btn btn-primary" %>
