<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @club.city %>
</p>


<h1>Listing players of <%=@club.name%></h1>

<p>
  Total of players: <%= @club.players.size %>
</p>

<p>
  Clubowner: <%=link_to @club.clubowner, @club.clubowner %>
</p>
<%= render 'list', players: @club.players %>

<%= link_to 'Edit Club', edit_club_path(@club) if current_player and current_player == @club.clubowner %>

<bd></bd>
<% if @club.players.include?(current_player) and !current_player.clubowner %>
    <%= form_for(@membership, :method => :delete) do |f| %>
        <%= f.submit value: "Leave this club" %>
    <% end %>
    <% end %>
<%= link_to 'Back', clubs_path %>
