<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @membership.player_id %>
</p>

<p>
  <strong>Club:</strong>
  <%= @membership.club_id %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
