<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.firstname %>
  <%= @player.lastname %>
      </p>

<p>
  <Strong>Username:</Strong>
  <%=@player.username %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @player.birthday%>
</p>

<p>
  <strong>Age:</strong>
  <%= @player.count_age %>
</p>

<b> This player has played <%= @player.matches.size%> matches, won <%=@player.won_matches.size %> matches.
     win precentange <%= @player.win_precentage %> % </b>

<br></br>
<% if @player.clubowner and !@player.club.nil? %>

<p>
  <%=@player%> is owner of <%=@player.club %>
</p>
    <br></br>
    <% elsif @player.club %>
        <%=@player%> is member of <%= @player.club %>

 <% end %>
<% if @player.admin %>

<p>
  <%=@player%> is admin!
</p>

    <% end %>


<% if current_player and current_player.admin %>
    <% if @player.club.nil? %>
        <%=  link_to 'make this player a clubowner', toggle_clubowner_player_path(@player.id), method: :post if !@player.clubowner %>
    <% end %>
    <br></br>

        <%= link_to 'Toggle admin', toggle_admin_player_path(@player.id), class:'btn btn-primary' , method: :post %>

<% end %>

<br><%=link_to 'Edit', edit_player_path(@player), class:'btn btn-primary' if current_player and current_player.username == @player.username %> </br>
<br><%= link_to 'Destroy', @player, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' if current_player and current_player.username == @player.username%> </br>
<br><%= link_to 'Back', players_path, class:'btn btn-primary' %> </br>
