<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>

<table>
  <thead>
    <tr>
      <th>Homefirst</th>
      <th>Awayfirst</th>
      <th>Homesecond</th>
      <th>Awaysecond</th>
      <th>Homethird</th>
      <th>Awaythird</th>
      <th>Homefourth</th>
      <th>Awayfourth</th>
      <th>Homefifth</th>
      <th>Awayfifth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.homefirst %></td>
        <td><%= match.awayfirst %></td>
        <td><%= match.homesecond %></td>
        <td><%= match.awaysecond %></td>
        <td><%= match.homethird %></td>
        <td><%= match.awaythird %></td>
        <td><%= match.homefourth %></td>
        <td><%= match.awayfourth %></td>
        <td><%= match.homefifth %></td>
        <td><%= match.awayfifth %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
