<p id="notice"><%= notice %></p>

<p>
  <strong>Homefirst:</strong>
  <%= @match.homefirst %>
</p>

<p>
  <strong>Awayfirst:</strong>
  <%= @match.awayfirst %>
</p>

<p>
  <strong>Homesecond:</strong>
  <%= @match.homesecond %>
</p>

<p>
  <strong>Awaysecond:</strong>
  <%= @match.awaysecond %>
</p>

<p>
  <strong>Homethird:</strong>
  <%= @match.homethird %>
</p>

<p>
  <strong>Awaythird:</strong>
  <%= @match.awaythird %>
</p>

<p>
  <strong>Homefourth:</strong>
  <%= @match.homefourth %>
</p>

<p>
  <strong>Awayfourth:</strong>
  <%= @match.awayfourth %>
</p>

<p>
  <strong>Homefifth:</strong>
  <%= @match.homefifth %>
</p>

<p>
  <strong>Awayfifth:</strong>
  <%= @match.awayfifth %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
