
<b> <%=@match%></b>


<table class="table table-hover">
  <thead>
  <tr>
    <th>Player</th>
    <th>Club</th>
    <th>1.set</th>
    <th>2.set</th>
    <th>3.set</th>
    <th>4.set</th>
    <th>5.set</th>
    <th>total</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

      <tr>
        <td><%=link_to @match.player1 , @match.player1%></td>
        <td><%=link_to @match.player1.club, @match.player1.club %></td>
        <td><%=@match.homefirst %></td>
        <td><%=@match.homesecond %></td>
        <td><%=@match.homethird %></td>
        <td><%=@match.homefourth %></td>
        <td><%=@match.homefifth %></td>
        <td><%=@match.homeSets %></td>



      </tr>
      <tr>
        <td><%=link_to @match.player2, @match.player2 %></td>
        <td><%=link_to @match.player2.club, @match.player2.club %></td>
        <td><%=@match.awayfirst %></td>
        <td><%=@match.awaysecond %></td>
        <td><%=@match.awaythird %></td>
        <td><%=@match.awayfourth %></td>
        <td><%=@match.awayfifth %></td>
        <td><%=@match.awaySets %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_match_path(@match), class:'btn btn-primary' if current_player and current_player.admin%>
<bd></bd>
<%= link_to 'Back', matches_path , class:'btn btn-primary' %>
<bd></bd>
<% if current_player and current_player.admin %>
<td><%= link_to 'Destroy', @match, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-danger'%></td>
<% end %>