<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ttmanagement" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ttmanagement" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>

  <main role="main" class=".container">
    <%= render 'layouts/messages' %>

    <div class="row">
      <div class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-4">
        <img src="https://thorntonstabletennis.co.uk/wp-content/uploads/1970/01/stiga_thorntons_table_tennis_score_board_small.jpg" width="200">
      </div>
    </div>

  </main>
  </body>
</html>
